



@media only screen and (max-width: 600px)
{header{}
    
    
    .nav-item{display: flex; border: none;
justify-content: center;}
.main-container{
display: grid;
grid-template-columns: 10px;}
}

